.btn {
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;

    &.default {
      background-color: #e7e7e7;
      color: black;

      &:hover{
        background: #ddd;
      }
    }
    &.favorite {
      background-color: #f44336;;
      &:hover{
        background: #da190b;
      }
    }
}
